@model List<POCO.SalaryBasicInformation>
<div style="width: 100%;" class="row">

    <div class="col-md-12 align-self-center text-right d-none d-md-block">

        <h4 style="">Count Of Rows : @Model.Count</h4>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <table class="table table-striped table-bordered" id="editable-datatable">
            <thead>
                <tr>
                    <th>Emp no.</th>
                    <th>Emp. Name</th>
                    <th>Basic salary</th>
                    <th>Month Count</th>
                    <th>Increase %</th>
                    <th>Increase Fix</th>
                    <th>Total income</th>
                    <th>Social Value</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (POCO.SalaryBasicInformation item in Model)
                    {

                        <tr id="Row_@item.empno">
                            <td>@item.empno</td>
                            <td>@item.FullAnname</td>
                            <td>@item.saljd</td>
                            <td>@item.month_count</td>
                            <td>@item.emptax</td>
                            <td>@item.socialj</td>
                            <td>@item.wifetax</td>
                            <td>@item.tax_pass_value</td>
                            <td>
                                <button type="button" data-toggle="tooltip" data-original-title="Edit Employee" class="btn btn-info " onclick="location.href='@Url.Action("Index", "InstallSalariesAndSocialSecurity" ,item )';"><i class="fas fa-edit"></i></button>
                                <button type="button" data-toggle="tooltip" data-original-title="Delete Employee" class="btn btn-danger " onclick="location.href='@Url.Action("Index", "InstallSalariesAndSocialSecurity" ,item )';"><i class="fas fa-trash-alt"></i></button>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr> <td class="m-0 p-0" colspan="20"><div class="alert alert-warning text-center m-0">There is no result found.</div></td></tr>
                }

            </tbody>

        </table>
    </div>
</div>
<script>

    function EditEmployee(Id) {
        $("#updateOrganizationArea").load('@(Url.Action("GetOrganizationByID", "General", null, Request.Url.Scheme))?Id=' + Id);
    }


</script>
